[Bb]in/
[Oo]bj/
[Tt]emp/
*.pdb
*.suo
*.user
*.github
*.userosscache
*.sln.docstates
*.vshost.*
packages/
.nuget/
.tools/
TestResults/
coverlet_coverage_results.json
*.sarif
.codeanalysis/
GeneratedFiles/
.aspire/
aspire-logs/
aspire-config/
.dashboard/
.vs/
docker-context/
docker-volumes/
.dapr/
dapr-components/
kafka-data/
zookeeper-data/
data/
*.vmd
*.xsc
*.xss
*.xuo
.vscode/
*.csproj.user
*.vcxproj.user
*.mdf
*.ldf
appsettings.Development.json
appsettings.Local.json
*.json.user
**/appsettings.Development.json
.env
.local
*.secrets.json